body{
	background-image: url("background.png");
}
#container{
	display: block;
    border: solid 1px black;
    border-radius: 5px;
    margin: 0 auto;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 15%;
    margin-top: 10px;
    background-color: white;
}
#red{
	color:red;
}
.red{
	border:solid 2px red;
}
#container p, .btns{
	font-size: 10px;
    font-weight: bold;
    padding: 7px 0px;
}
.btns{
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-family: sans-serif;
    padding: 7px 3px;
    outline:none;
}
#getQuote{
	margin-left:8%;
	background-color: #3175AE;
    color: white;
}
label {
	font-size:11px;
	font-weight: 400;
}
#clear{
	margin-left: 2px;
	background-color:lightgrey;
}
h2{
	margin:0;
	margin-bottom: 10px;
	font-size:15px;
	text-align: center;
}

#textbox{
	height: 30px; 
	width: 99%;
	border-radius: 5px;
}
#textbox:focus, input:focus{
    outline: none;
}
#searchResult {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1.2%;
    margin-left: 34%;
    width: 27.3%;
}

#searchResult a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#searchResult a:hover {background-color: #f1f1f1}
form .glyphicon-refresh,form .glyphicon-search{
	font-size: 10px;
	margin-right: 6px;
}
hr{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15.5%;
    width: 67%!important;
}
#favourites_container{
	border: solid 1px black;
    background-color: white;
    width: 70%;
    margin-left: 15%;
    border-radius: 6px;
}
.main-container{
	border: solid 1px black;
    background-color: white;
    width: 70%;
    margin-left: 15%;
    border-radius: 6px;
    display:none;
}
#subform{
	border: solid 1px #d4cfcf;
    background-color: white;
    width: 100%;
    border-top:none;
    margin-bottom: 20px;

}
#favourites_container #favdiv,.main-container #maindiv{
	width: 100%;
    border: solid 1px #d4cfcf;
    margin-top: 20px;
    background-color:#ece9e9;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 3px;
}
#favdiv #header,#favdiv #btnheader{
	display:inline;
}
#header{
	margin-right: 64%;
	margin-left: 10px;
}
#favdiv #btnheader, #favdiv button{
	margin-right: 10px;
}
.btn-primary {
	width: 45%;
    text-align: left;
    color: #060606;
    background-color: #f6f6f7;
    border-color: lightgrey;
}
.btn .caret{
	float: right;
    margin-top: 4px;
}
.btn{
	font-size:10px;
}
.dropdown ul{
	background-color: lightgrey;
    font-size: 10px;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary,.btn-primary:hover {
    color:black!important;
    background-color: white!important;
    border-color: lightgrey!important;
}
.dropdown1{
	font-size: 8px;
    font-weight: bold;
    margin-top: 10px;
    display: inline;
    margin-right: 20px;
}
.dropdown{
	margin-top:20px;
}
#sort{
	border: none;
    margin-left: 34%;
    margin-top: 0px;
    min-width: 41%!important;
    top: 5%;
}
#order{
	border: none;
    margin-top: 0;
    min-width: 41%!important;
    margin-left: 33.5%;
    top: 5%;
}
#favtable{
	margin-top:10px;
	font-size: 10px;
    width: 100%;
}
#favtable thead{
	background-color:#ece9e9;
}
#sub_maincontainer{
	width: 100%;
    display: inline;
    padding-bottom: 2%;
}
#indicators{
	width: 55%;
}
#favdiv button,#maindiv button{
	padding: 5px 7px;
    border: solid 1px #b1aeae;
    border-radius: 3px;
    outline: none;
    background: linear-gradient(lightgrey, white);
}
#buttons{
	margin-bottom:20px;
}
#buttons button{
	padding: 10px;
    font-size: 12px;
    border: none;
    background-color: white;
    color: #3379B7;
    margin-top: 20px;
    outline: none;
}
#buttons button:hover,#buttons button:focus{
	background-color: #3379B7;
	color: white;
	border-radius:3px;
}
#indicatorsla{
	width: 100%;
    margin-top:2%;
}
#newline{
	margin: 0!important;
	margin-bottom: 20px;
	width: 95%!important;
}
#title{
	width: 104%;
    margin-top: 20px;
    clear: both;
}
#title #star{
    font-size: 21px;
    margin-right: 10px;
}
#title #fb{
	vertical-align: top;
	height: 32px;
}
#tbody a{
	text-decoration-line: none;
}
#title button{
	padding: 0;
    width: 35px;
    height: 30px;
    background-color: white;
    outline: none;
    border: solid 1px lightgrey;
    border-radius: 3px;
}
#title button:hover{
	background-color: #eaeaea;
}
#title p{
	display: inline;
    font-size: 11px;
    font-weight: bold;
    float: left;
    margin-top: 9px;
    margin-right: 44%;
    margin-left: 10px;
}
#title img{
	width: 20px;
}
#table td{
	padding: 13px;
    text-align: left;
    border:none;
}
#table table{
	width: 100%;
	border:none;
	font-size: 11px;
	margin-top: 10%
}
#table .header{
	font-weight:bold;
	padding-left: 10px;
}
#table .grey{
	background-color: #eaeaea;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
}
#indicatorsla button{
	border: solid 1px white;
    outline: none;
    background-color: white;
    border-radius: 3px;
    padding: 7px 13px;
    color: #3379B7;
    font-size: 12px;
}
#indicatorsla button:focus{
	outline:none;
	color:black;
	border-top:solid 1px lightgrey;
	border-left:solid 1px lightgrey;
	border-right:solid 1px lightgrey;	
}
#indicatorsla button:hover{
	background-color:  #eaeaea;
	color:black;
}
#graphline{
	margin-left: 7.5%!important;
	width: 89%!important;
}
#eachnews{
	border: solid 1px lightgrey;
    background-color: #eaeaea;
    padding: 23px 23px;
    border-radius: 3px;
    margin: 10px;
    width: 97.5%;
}
#eachnews a{
	font-size: 14px;
}
#eachnews p{
	font-size: 10px;
    font-weight: bold;
    margin: 4px;
}
#maindiv button{
	float: left;
    padding: 5px 7px;
}
#maindiv p{
	margin: 0;
    margin-top: 2px;
    font-size:12px;
    margin-left: 45%
}
#delete{
	width: 25px;
    height: 23px;
    border: solid 1px lightgray;
    background-color: white;
    border-radius: 3px;
}
#graphprogress{
	width: 90%;
    margin-left: 6%;
    display: block;
    margin-top: 22%;
    margin-bottom: 50%;
    padding:0;
}
#stockprogress{
	display: block;
    clear: both;
    width: 100%;
    margin-top: 40%;
    margin-bottom: 50%;
    padding:0;
}
#historical_subcontainer{
	margin-top: 5%;
    margin-bottom: 10%;
}
#histprogress{
	padding: 0;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.animate-hide {
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	-moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	-o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
	left: 0%;
}
.animate-hide.ng-hide {
  left: -100%;
  opacity:0;
  padding:0 10px;
}
.Errordesign{
	margin-top: 40%;
    margin-bottom: 60%;
    border: solid 1px #d07777;
    border-radius: 4px;
    padding: 16px 0px;
    text-align: center;
    width: 90%;
    background-color: #f1cfcf;
    color: #941111;
}
#grapherror{
	margin-top: 25%;
}
#histdes{
	margin-top:2%;
	margin-bottom: 10%;
}
@media (max-width:768px){
	#container{
		width: 95%;
    	margin: 2.5%;
	}
	#favourites_container{
		width: 95%;
    	margin: 2.5%;
	}
	#favdiv{
		padding: 2px 1px;
	}
	#header{
		margin-right: 30%;
	}
	#btnheader{
		display: none!important;
	}
	#favdiv button{
		border: solid 1px lightgrey;
	}
	.toggle .btn .btn-default .off .btn-xs{
		width: 35px!important;
	    height: 24px!important;
	    margin-right: 10px;
	    vertical-align: top;
	}
	#favdiv .glyphicon-chevron-right{
		padding: 4px 5px;
	}
	#favdiv div{
		width:0%!important;
	}
	#favdiv .glyphicon-refresh{
		padding: 4px 6px;
    	font-size: 11px;
	}
	.main-container{
		width: 95%;
    	margin: 2.5%;
    	margin-top: 3%;
	}
	#subform{
		border-top: solid 1px lightgrey;
	}
	hr{
		margin-top: 2px;
    	margin-bottom: 2px;
    	margin-left: 3.5%;
    	width: 85%!important;
	}
	.btn{
		font-size: 10px;
    	margin-left: 5.5%;
    	width: 70%;
	}
	#buttons{
		display:none;
	}
	#buttons button{
		margin-right: 9px;
		width: 30%
	}
	.mobilebtns{
		display:block!important;
	}
	.dropdown1{
		margin-top:0px;
	}
	.dropdown{
		margin-top: 12px;
	}
	#textbox{
		width: 95%!important;
    	border: solid 1px #ded9d9;
	}
	.btns{
		margin-bottom: 10px;
		margin-top:15px;
	}
	#getQuote{
		margin-left: 0;
	}
	#searchResult{
		margin-top: 13.8%;
    	margin-left: 0.3%;
    	width: 86%;
	}
	#textinput{
		padding:0;
	}
	#sort{
		margin-left:10%;
		min-width: 63%!important;
		top: 100%;
	}
	#maindiv button{
		padding: 6px 7px;
    	margin-top: -2px;
	}
	#maindiv p{
		font-size: 13px;
    	margin-left: 37%;

	}
	.main-container #maindiv {
    	padding: 9px;
	}
	#favtable{
		margin-top: 20px;
		padding: 0;
    	overflow-x: auto;
	}
	#left{
		width: 100%!important;
		margin-bottom: 10%;
	}
	#title{
		margin-top: -5%;
		margin-bottom: 10%;
	}
	#title p{
		margin-right: 37%;
		margin-left: 0px;
	}
	#indicators,#graph{
		width: 100%;
	}
	#graph{
		width:300px!important;
	}
	#news_subcontainer{
		margin-top: 30%;
	}

}
